[bumpversion]
current_version = 0.1.3
commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:Makefile]

[bumpversion:file:http_quest/__init__.py]

[bumpversion:file:charts/http-quest/Chart.yaml]
